:root {
  --card-font-family: tuanphan;
  --main-font-family: system-ui, sans-serif;
  --main-color: #000;
  --button-color: #ff9000;
  --button-active-color: #ce3263;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
}

.principal-container {
  padding: 30px 30px 0 30px;
}

.game-title {
  font-family: var(--main-font-family);
  text-align: center;
}

.cards-container {
  padding: 70px 20px 10px 20px;
  display: flex;
  justify-content: space-evenly;
}

.card {
  display: grid;
  border: solid 0.3rem;
  border-color: var(--main-color);
  border-radius: 30px;
  width: 200px;
  height: 300px;
  align-items: center;
  text-align: center;
}

.center {
  grid-area: 2/2;
}

.bottom-right {
  grid-area: 3/3;
}

.card-suit {
  font-family: var(--card-font-family);
  font-size: 70px;
}

.card-figure {
  font-family: var(--card-font-family);
  font-size: 90px;
}

.image-card {
  display: inherit;
  object-fit: cover;
  border-radius: 25px;
}

.answer-container {
  text-align: center;
  place-items: center;
  padding: 10px;
  height: 70px;
}

.game-answer {
  font-size: 2rem;
  width: 15rem;
  padding: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  background-color: var(--button-color);
  width: 120px;
  height: 50px;
  font-size: x-large;
}

.button:active {
  background-color: var(--button-active-color);
}

.button-start-container {
  padding: 150px;
  text-align: center;
}

.big-button {
  padding: 0;
  width: 400px;
  height: 120px;
  font-size: 100px;
  border-radius: 150px;
  background-color: var(--button-color);
}

.big-button:active {
  background-color: var(--button-active-color);
}

.display-none {
  display: none;
}
